table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
}

th {
    background-color: lightblue;
}

#formdiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

#formdiv label, button, input {
    margin: 2px;
    padding: 5px;
}

#formdiv label {
    font-weight: bolder;
}
